<mat-toolbar class="header-toolbar">

  <div class="header-left">
    <span [routerLink]="'/'" class="header-title ">Rick and Morty</span>
  </div>

  <div class="header-center">
    <button class="header-title" mat-button [routerLink]="'/lista-personajes'">
      Lista de Personajes
    </button>
  </div>

  <div class="header-right">
      <button
        mat-icon-button
        aria-label="Favorito"
        *ngIf="favorito"
        (click)="mostrarInfoFavorito()"
      >
        <mat-icon class="icon">favorite</mat-icon>
        <span class="header-title">{{ favorito?.name }}</span>
      </button>
      <span class="header-title" *ngIf="!favorito">Marca favorito</span>
    </div>

</mat-toolbar>
