.main-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.list-container, .details-container {
  flex: 1;
  margin: 10px;
}



.left-panel {
  flex: 2;
}

.right-panel {
  flex: 1;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

lista-personajes {
  flex: 1;
  margin-right: 20px;
}

detalles-personajes {
  flex: 1;
}
