<div class="main-container">
  <app-header
    [favoriteCharacter]="favoriteCharacter"
    (favoriteClicked)="mostrarDetallesFavorito($event)">
  </app-header>

  <div class="content-container">
    <lista-personajes
      [favoriteCharacter]="favoriteCharacter"
      (characterSelected)="verDetalles($event)"
      (favoriteSelected)="onFavoriteSelected($event)">
    </lista-personajes>

    <detalles-personajes *ngIf="selectedCharacter" [character]="selectedCharacter">
    </detalles-personajes>
  </div>
</div>
