<div *ngIf="character" class="details-card">
  <mat-card>
    <img mat-card-image [src]="character.image" alt="{{ character.name }}">
    <mat-card-title>{{ character.name }}</mat-card-title>
    <mat-card-subtitle>{{ character.species }} - {{ character.status }}</mat-card-subtitle>
    <mat-card-content>
      <p><strong>Género:</strong> {{ character.gender }}</p>
      <p><strong>Tipo:</strong> {{ character.type || 'N/A' }}</p>
      <p><strong>Creado:</strong> {{ character.created | date }}</p>
    </mat-card-content>
  </mat-card>
</div>
