<div class="filter-container">
  <!-- Campo de búsqueda por nombre -->
  <mat-form-field appearance="fill">
    <mat-label>Buscar por nombre</mat-label>
    <input matInput [formControl]="searchName" placeholder="Rick, Morty..." />
  </mat-form-field>

  <!-- Campo de búsqueda por especie -->
  <mat-form-field appearance="fill">
    <mat-label>Buscar por especie</mat-label>
    <input matInput [formControl]="searchSpecies" placeholder="Human, Alien..." />
  </mat-form-field>

  <!-- Campo de búsqueda por estado -->
  <mat-form-field appearance="fill">
    <mat-label>Buscar por estado</mat-label>
    <mat-select [formControl]="searchStatus">
      <mat-option value="">todo</mat-option>
      <mat-option *ngFor="let status of statuses()" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Campo de búsqueda por género -->
  <mat-form-field appearance="fill">
    <mat-label>Buscar por género</mat-label>
    <mat-select [formControl]="searchGender">
      <mat-option value="">todo</mat-option>
      <mat-option *ngFor="let gender of genders()" [value]="gender">{{ gender }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Tabla de personajes -->
<table mat-table [dataSource]="dataSource()" matSort class="mat-elevation-z8">

  <!-- Columna: Nombre -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
    <td mat-cell *matCellDef="let character"> {{ character.name }}</td>
  </ng-container>

  <!-- Columna: Estado -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
    <td mat-cell *matCellDef="let character"> {{ character.status }}</td>
  </ng-container>

  <!-- Columna: Especie -->
  <ng-container matColumnDef="species">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Especie</th>
    <td mat-cell *matCellDef="let character"> {{ character.species }}</td>
  </ng-container>

  <!-- Columna: Género -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Género</th>
    <td mat-cell *matCellDef="let character"> {{ character.gender }}</td>
  </ng-container>

  <!-- Columna: Tipo -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo</th>
    <td mat-cell *matCellDef="let character">
      {{ character.type || 'Unknown' }} <!-- Usamos el operador || para manejar valores nulos -->
    </td>
  </ng-container>

  <!-- Columna: Fecha de creación -->
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado</th>
    <td mat-cell *matCellDef="let character"> {{ character.created | date }}</td>
  </ng-container>

  <!-- Columna: Ver detalles -->
  <ng-container matColumnDef="detalle">
    <th mat-header-cell *matHeaderCellDef> Detalles</th>
    <td mat-cell *matCellDef="let character">
      <button mat-flat-button (click)="verDetalles(character)">Ver</button>
    </td>
  </ng-container>

  <!-- Columna: Marcar favorito -->
  <ng-container matColumnDef="favorito">
    <th mat-header-cell *matHeaderCellDef> Favorito</th>
    <td mat-cell *matCellDef="let character">
      <button mat-icon-button color="primary" (click)="marcarFavorito(character)">
        <mat-icon *ngIf="character.isFavorite; else notFavorite">favorite</mat-icon>
        <ng-template #notFavorite>
          <mat-icon>favorite_border</mat-icon>
        </ng-template>
      </button>
    </td>
  </ng-container>

  <!-- Encabezado de la tabla -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Fila mostrada cuando no hay datos coincidentes -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="8">No hay datos que coincidan con el filtro</td>
  </tr>
</table>

<!-- Paginador -->
<mat-paginator
  [length]="totalCharacters()"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 50]">
</mat-paginator>

<!-- Totales -->
<div class="totals-container">
  <mat-card class="totals-card-2">
    <mat-card-header>
      <mat-card-title>Totales por Especie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Total de especies: {{ speciesCount() }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="totals-card-2">
    <mat-card-header>
      <mat-card-title>Totales por Tipo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Total de tipos: {{ typeCount() }}</p>
    </mat-card-content>
  </mat-card>
</div>
